/* typography & color */

/* @font-face {
	font-family: "adapt-variable";
	font-variation-settings: "wght" 600, "wdth" 40;
}	
	
@font-face {
	font-family: "area-variable";
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
} */

:root {
	--f-adapt: "adapt-variable", sans-serif;
	--f-area: "area-variable", sans-serif;
	--c-black: #050505;
	--c-white: #ffffff;
	--c-grey-txt: #999999;
	--c-grey: #cccccc;
	--c-green: #6cffc1;
	--c-blue: #0029ff;
	--c-blue-light: #52b6ff;
	--c-red: #fd4539;
	--c-purple: #c241ff;
	--c-purple-light: #f0b2ff;
	--c-salmon: #ffb26a;
}

/* globals */

body {
	margin: 0 auto;
	font-size: 100%;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 0;
	display: none;
}

/* main nav - fixed but auto-collapses on scroll down, leaving just the sub-header visible as the user moves down the page */

header {
	background-color: var(--c-black);
	margin: 0 auto;
	padding: 0.5em 0.5em 0 0.5em;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
}

.main-nav__list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item {
	font-size: 3rem;
}

.main-nav__item a,
.main-nav__item .wordmark {
	text-decoration: none;
	font-family: var(--f-adapt);
	font-variation-settings: "wght" 300, "wdth" 40;
}

.main-nav__item .wordmark {
	color: var(--c-white);
}

.main-nav__item a {
	color: var(--c-grey-txt);
}

.main-nav__item a:hover {
	color: var(--c-white);
}

.mobile-nav {
	display: none;
}

/* homepage sub-header - events information - uses carousel by Flickity, I think - single entry here for simplicity's sake */

.sub-header__homepage__expanded {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.sub-header__homepage__filter-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	text-decoration: none;
	color: var(--c-black);
	background-color: var(--c-purple-light);
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.9rem;
	line-height: 1.25em;
	padding: 0.8em 0.8em 0.5em 0.8em;
	border-bottom: 1px solid var(--c-black);
}

.sub-header__homepage__filter-bar:hover + .sub-header__homepage__expanded__pop-out {
	display: grid;
}

.sub-header__homepage__filter-bar:hover + .sub-header__list__item__right {
	transform: rotate(45deg);
}

.sub-header__homepage__expanded__pop-out {
	display: grid;
	grid-template-columns: 3fr 0.6fr 2fr;
	grid-template-rows: repeat(13, 0.8rem);
	grid-template-areas: 
		"img top-date top-date"
		"img second-date second-date"
		"img blank1 blank2"
		"img blank3 blank4"
		"img who who"
		"img blank5 blank6"
		"img date-label date-range"
		"img location-label location-one"
		"img blank7 location-and"
		"img blank8 location-two"
		"img website-label url"
		"img blank9 blank10"
		"img blank11 blank12";
	gap: 0.3em;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid var(--c-black);
	display: none;
}

.sub-header__homepage__expanded__pop-out__item {
	width: max-content;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
	align-self: center;
}

.sub-header__homepage__expanded__pop-out__item__img {
	grid-area: img;
}

.sub-header__homepage__expanded__pop-out__item__top-date {
	grid-area: top-date;
}

.sub-header__homepage__expanded__pop-out__item__second-date {
	grid-area: second-date;
}

.sub-header__homepage__expanded__pop-out__item__who {
	grid-area: who;
}

.sub-header__homepage__expanded__pop-out__item__date-label {
	grid-area: date-label;
}

.sub-header__homepage__expanded__pop-out__item__date-range {
	grid-area: date-range;
}

.sub-header__homepage__expanded__pop-out__item__location-label {
	grid-area: location-label;
}

.sub-header__homepage__expanded__pop-out__item__location-one {
	grid-area: location-one;
}

.sub-header__homepage__expanded__pop-out__item__location-and {
	grid-area: location-and;
}

.sub-header__homepage__expanded__pop-out__item__location-two {
	grid-area: location-two;
}

.sub-header__homepage__expanded__pop-out__item__website-label {
	grid-area: website-label;
}

.sub-header__homepage__expanded__pop-out__item__url {
	grid-area: url;
}

.sub-header__homepage__expanded__pop-out__item__url a {
	color: var(--c-black);
}

/* homepage book grid - responsive so that when the viewport reaches a certain width, the number of book grid items shrinks until it's just one on a mobile device */

.books-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto;
	overflow: hidden;
}

/* book cube - single */

.book-cube--a {
	text-decoration: none;
	color: var(--c-black);
	background-color: var(--c-white);
	display: block;
}

.book-cube {
	padding: 0.75em;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.9rem;
	border-bottom: 1px solid var(--c-black);
	border-right: 1px solid var(--c-black);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3em;
}

.book-cube__header-footer__header {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.book-cube__header-footer__header__new-tag {
	color: var(--c-blue);
}

.book-cube__cover {
	margin: 2em 0;
	text-align: center;
}

.book-cube__cover__img {
	height: 15em;
	box-shadow: 3px 3px 3px var(--c-grey);
}

.book-cube__header-footer__footer {
	display: flex;
	justify-content: space-between;
}

.book-cube__header-footer__footer__title-author {
	width: 65%;
	margin: 0;
	padding-top: 0.25em;
}

.book-cube__header-footer__footer__price-add-to-cart {
	width: max-content;
	margin: 0;
	padding-top: 0.25em;
}

.book-cube__header-footer__header__catalog-number,
.book-cube__header-footer__header__new-tag {
	margin: 0;
}

.book-cube__header-footer__footer__title,
.book-cube__header-footer__footer__author,
.book-cube__header-footer__footer__price,
.book-cube__header-footer__footer__add-to-cart {
	margin: 0;
	padding: .1em 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.book-cube__header-footer__footer__price,
.book-cube__header-footer__footer__add-to-cart {
	text-align: right;
}

.book-cube__header-footer__footer__add-to-cart:hover {
	color: var(--c-grey);
}

/* homepage email newsletter sign-up section */

.newsletter__homepage {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
}

.newsletter__homepage__section {
	width: 50%;
	padding: 1em;
	border-right: 1px solid var(--c-black);
}

.newsletter__homepage__section__header {
	margin: 0.3em 0;
	font-size: 2.5rem;
}

.newsletter__homepage__section__intro {
	font-size: 0.8rem;
}

.newsletter__homepage__section__input {
	display: flex;
	width: max-content;
	margin: 2em 0 0 0;
	font-size: 0.8rem;
}

.newsletter__homepage__section__input input {
	background-color: var(--c-grey);
	padding: .75em;
	flex-grow: 2;
	border: none;
}

.newsletter__homepage__section__input input:focus {
	outline: none;
}

.newsletter__homepage__section__input a {
	color: var(--c-black);
	background-color: var(--c-grey);
	text-decoration: none;
	padding: .75em .75em .65em .75em;
	flex-grow: 2;
	border: none;
}

/* main site footer */

.site-footer {
	padding: 0.5em;
	background-color: var(--c-black);
}

.site-footer__logo {
	color: var(--c-white);
	font-family: var(--f-adapt);
	font-variation-settings: "wght" 300, "wdth" 40;
	text-align: center;
	font-size: 4rem;
	margin-top: 2em;
	margin-bottom: 0.4em;
}

.site-footer__mission {
	color: var(--c-white);
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
	margin: 0 auto;
	margin-bottom: 2.5em;
	text-align: center;
	width: 40%;
	line-height: 1.15rem;
}

.site-footer__nav {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-areas: 
		"copyright ig-fb legal";
	gap: 2em;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
	color: var(--c-white);
}

.site-footer__nav__copyright {
	grid-area: copyright;
}

.site-footer__nav__link {
	text-decoration: none;
	color: var(--c-white);
	align-self: center;
}

.site-footer__nav__link:hover {
	color: var(--c-grey);
}

.site-footer__nav__ig-fb {
	grid-area: ig-fb;
	display: flex;
	justify-content: center;
	gap: 1em;
}

.site-footer__nav__link__ig {
	justify-self: end;
}

.site-footer__nav__link__fb {
	justify-self: start;
}

.site-footer__nav__legal {
	grid-area: legal;
	display: flex;
	justify-content: flex-end;
	gap: 1em;
}

/* media queries - hamburger top nav, stacking bottom nav items */

@media screen and (max-width: 768px) {
	.main-nav {
		display: none;
	}
	.mobile-nav	{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr min-content;
		align-items: center;
	}
	.mobile-nav__wordmark {
		display: block;
		font-family: var(--f-adapt);
		font-variation-settings: "wght" 200, "wdth" 40;
		font-size: 3rem;
	}
	.mobile-nav__wordmark a {
		color: var(--c-white);
		text-decoration: none;
	}
	.mobile-nav__menu:hover + .mobile-nav__list {
		display: block;
	}
	.mobile-nav__list {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		display: none;
	}
	.mobile-nav__item a {
		text-decoration: none;
		color: var(--c-white);
		font-family: var(--f-adapt);
		font-variation-settings: "wght" 300, "wdth" 40;
		font-size: 3rem;
		width: 100%;
	}
	
	.newsletter__homepage__section {
		width: 100%;
	}
	.site-footer__logo {
		margin-top: 1em;
	}
	.site-footer__mission {
		width: 80%;
	}
	.site-footer__nav {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, minmax(0, 1fr));
		grid-template-areas: 
			"legal"
			"ig-fb"
			"copyright";
		gap: 0.5em;	
	}
	.site-footer__nav > * {
		margin: 0 auto;
	}
}
