<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Set Margins' Publications ~ Web Component Library</title>
		<link rel="stylesheet" href="https://use.typekit.net/hmz1ijq.css">
		<link rel="stylesheet" href="https://use.typekit.net/hmz1ijq.css">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="main.css">
	</head>
	
	<body>
		<header>
			<h1>Set Margins' Publications ~ Web Component Library ~ <a href="https://setmargins.press" target="_blank">setmargins.press</a></h1>
			<p>Morgen Ruff ~ MAGWD6610 Web Development ~ Fall 2023</p>
		</header>
		
		<main>
			
			<h2 class="section-header">Typography Defaults</h2>
			
			<article class="component">
				<h3 class="component__header">headings (h1, h2, h3 ... )</h3>
				<div class="component__screenshot">
					<img srcset="img/1-homepage/main-header/main-header__logo.png 2x" alt="body copy">
				</div>
				<p class="component__h1">
					Set Margins'
				</p>
				
				<div class="component__screenshot">
					<img srcset=img/3-book-page/book-page__main-details__title.png 2x" alt="body copy">
				</div>
				<p class="component__h2">
					Graphic Design in the Post-Digital Age<br>
					<i>A Survey of Practices Fueled by Creative Coding</i>
				</p>
				
				<div class="component__screenshot">
					<img srcset="img/2-books-grid/book-cube/book-cube__details__title.png 2x" alt="body copy">
				</div>
				<p class="component__h3">
					Who can afford to be critical?
				</p>
				
			</article>
			
			<article class="component">
				<h3 class="component__header">body text</h3>
				<div class="component__screenshot">
					<img srcset="img/3-book-page/book-page__body-copy.png 2x" alt="body copy">
				</div>
				<p class="component__body-text">
					This comprehensive overview covers educational approaches in design programs and the historic and economic contexts of programming in graphic design, as well as the implications surrounding the integration of coding with design. The book includes over twenty interviews in which major figures in design reflect upon the ways in which coding has innovated and transformed their design practice and strategies, and the directions it will take in the future.
				</p>
			</article>
			
			
			
			
			
		</main>
	</body>
	
</html>

