<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Set Margins' Publications ~ Web Component Library</title>
		<link rel="stylesheet" href="https://use.typekit.net/hmz1ijq.css">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="main.css">
	</head>
	
	<body>
		
		<header>
			<h1>Set Margins' Publications ~ Web Component Library ~ <a href="https://setmargins.press" target="_blank">setmargins.press</a></h1>
			<p>Morgen Ruff ~ MAGWD6610 Web Development ~ Fall 2023</p>
		</header>
		
		<main>
			
<!-- section: typography defaults -->
			
			<h2 class="section-header">1. typography defaults <span class="down-arrow--typography">&#8623;</span></h2>

<!-- headings -->			

			<article class="component__typography">	
				<h3 class="component__typography__header">headings (h1, h2, h3 ... )</h3>
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/1-homepage/main-header/main-header__logo.png 2x" alt="h1">
				</div>
				<p class="component__typography__h1">
					Set Margins'
				</p>
				
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__main-details__title.png 2x" alt="h2">
				</div>
				<p class="component__typography__h2">
					Graphic Design in the Post-Digital Age<br>
					<i>A Survey of Practices Fueled by Creative Coding</i>
				</p>
				
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/2-books-grid/book-cube/book-cube__details__title.png 2x" alt="h3">
				</div>
				<p class="component__typography__h3">
					Who can afford to be critical?
				</p>
			</article>
			
<!-- body -->			
			
			<article class="component__typography">
				<h3 class="component__typography__header">body text</h3>
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__body-copy.png 2x" alt="body copy">
				</div>
				<p class="component__typography__body-text">
					This comprehensive overview covers educational approaches in design programs and the historic and economic contexts of programming in graphic design, as well as the implications surrounding the integration of coding with design. The book includes over twenty interviews in which major figures in design reflect upon the ways in which coding has innovated and transformed their design practice and strategies, and the directions it will take in the future.
				</p>
			</article>
			
<!-- section: headers & navigation bars -->
			
			<h2 class="section-header">2. headers, navigation, and footer <span class="down-arrow--navs">&#8623;</span></h2>
			
<!-- main header (appears on all pages) -->			
			
			<article class="component__navs">
				<h3 class="component__navs__header">main header &mdash; appears on all pages</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/1-homepage/main-header/main-header.png 2x" alt="main header">
				</div>
				<div class="site__main-header">
					<ul class="site__main-header__list">
						<li class="site__main-header__item site__main-header__item__wordmark"><a href="#!">Set Margins'</a></li>
						<li class="site__main-header__item"><a href="#!">Books</a></li>
						<li class="site__main-header__item"><a href="#!">Meetups</a></li>
						<li class="site__main-header__item"><a href="#!">Engage</a></li>
						<li class="site__main-header__item"><a href="#!">Cart [0]</a></li>
					</ul>
				</div>
			</article>
			
<!-- sub-headers & filter bars  -->			
			
			<article class="component__navs">
				<h3 class="component__navs__header">sub-header (collapsed) &mdash; homepage</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/1-homepage/sub-header/small/sub-header__carousel--blue.png 2x" alt="sub-header collapsed">
				</div>
				
				<div class="site__sub-header__homepage">
					<nav class="site__sub-header__homepage__list">
						<a href="#!" class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--blue"><div class="site__sub-header__homepage__list__item__left">Meet-Up &#9654; Book launch, Talk &#9654; Book launch ‘Plugs, Pores, Walls and Lures’ &#9654; 26 - 26 Nov</div><div class="site__sub-header__homepage__list__item__right">&#43;</div></a>
						
						<a href="#!" class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--purple"><div class="site__sub-header__homepage__list__item__left">Meet-Up &#9654; Art Book Fair &#9654; Sprint Milano Art Book Fair 2023 &#9654; 24 - 26 Nov</div><div class="site__sub-header__homepage__list__item__right">&#43;</div></a>
						
						<a href="#!" class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--grey"><div class="site__sub-header__homepage__list__item__left">Meet-Up &#9654; Book launch &#9654; What is Post-Branding? | Melbourne Book Launch &#9654; 11 - 11 Nov</div><div class="site__sub-header__homepage__list__item__right">&#43;</div></a>
						
						<a href="#!" class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--green"><div class="site__sub-header__homepage__list__item__left">Meet-Up &#9654; Art Book Fair &#9654; Offprint – Paris Art Book Fair 2023 &#9654; 09 - 12 Nov</div><div class="site__sub-header__homepage__list__item__right">&#43;</div></a>
					</nav>
				</div>
			</article>
			
<!-- homepage - sub-header - expanded -->	

			<article class="component__navs">
				<h3 class="component__navs__header">sub-header (expanded) &mdash; homepage</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/1-homepage/sub-header/expanded/sub-header__carousel__expanded.png 2x" alt="sub-header expanded">
				</div>
				
				<div class="site__sub-header__homepage__expanded">
					<a href="#!" class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--purple site__sub-header__homepage__filter-bar"><div class="site__sub-header__homepage__list__item__left">Meet-Up &#9654; Art Book Fair &#9654; Sprint Milano Art Book Fair 2023 &#9654; 24 - 26 Nov</div><div class="site__sub-header__homepage__list__item__right">&#43;</div></a>
					<div class="site__sub-header__homepage__expanded__pop-out">
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__img"><img src="img/1-homepage/sub-header/expanded/sub-header__carousel__expanded__logo.png" alt="sprint logo"></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__top-date"><span>24 NOV | 5PM&ndash;9PM</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__second-date"><span>25&ndash;26 NOV | 11AM&ndash;9PM</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__who"><span>Represented by Freek Lomme</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__date-label"><span>Date</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__date-range"><span>24&ndash;26 Nov</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__location-label"><span>Location</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__location-one"><span>Via Maiocchi 5</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__location-and"><span>&amp;</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__location-two"><span>Via Pecchio 3</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__website-label"><span>Website</span></div>
						<div class="site__sub-header__homepage__expanded__pop-out__item site__sub-header__homepage__expanded__pop-out__item__url"><a href="#!">www.sprintmilano.org</a></div>
					</div>
				</div>
			</article>		

<!-- email newsletter section - homepage -->

			<article class="component__navs">
				<h3 class="component__navs__header">email newsletter sign-up area &mdash; homepage</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/1-homepage/newsletter/newsletter.png 2x" alt="email newsletter sign-up area">
				</div>
				
				<div class="site__newsletter__homepage">
					<div class="site__newsletter__homepage__section">
						<p class="site__newsletter__homepage__section__header">Stay up to date!</p>
						<p class="site__newsletter__homepage__section__intro">Stay connected by subscribing to our mailing list, and we'll keep you informed about anything new.</p>
						<form class="site__newsletter__homepage__section__input">
							<input type="email" name="email" id="email" placeholder="Email Address">
							<button><a href="#!">&#8594;</a></button>
						</form>
					</div>
				</div>
			</article>

<!-- homepage - books filter bar - expandable -->

			<article class="component__navs">
				<h3 class="component__navs__header">filter bar (collapsed) &mdash; books page</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/2-books-grid/filter/filter-bar__unclicked.png 2x" alt="books filter bar collapsed">
				</div>
				
				<nav class="site__books__filter-bar__collapsed">
					<a href="#!" class="site__books__filter-bar__collapsed__item"><img src="../img/filter.png" alt="filter icon">Filter</a>
				</nav>
			</article>
			
			<article class="component__navs">
				<h3 class="component__navs__header">filter bar (expanded) &mdash; books page</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/2-books-grid/filter/filter-bar__expanded.png 2x" alt="books filter bar expanded">
				</div>
				
				<div class="site__books__filter-bar__expanded">
					<div class="site__books__filter-bar__expanded__sort">
						<p class="site__books__filter-bar__expanded__header">Sort by</p>
						<div class="site__books__filter-bar__expanded__list">
							<input type="radio" name="price-high" id="price-high">
							<label for="price-high">Price: High to Low</label>
							<input type="radio" name="price-low" id="price-low">
							<label for="price-low">Price: Low to High</label>
							<input type="radio" name="title-a" id="title-a">
							<label for="title-a">Title: A to Z</label>
							<input type="radio" name="title-z" id="title-z">
							<label for="title-z">Title: Z to A</label>
						</div>
					</div>
					
					<div class="site__books__filter-bar__expanded__filters">
						
					</div>
				</div>
			</article>
			
<!-- meetups page - year/type filter bar - non-expandable -->

			<article class="component__navs">
				<h3 class="component__navs__header">filter bar (static) &mdash; meetup page</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/4-meetups/sub-header__meetup-double.png 2x" alt="meetup filter bar">
				</div>
				
				<div class="site__meetup__filter-bar">
					<nav class="site__meetup__filter-bar__year">
						<a href="#!" class="site__meetup__filter-bar__year__item">2023</a>
						<a href="#!" class="site__meetup__filter-bar__year__item">2022</a>
					</nav>
					<nav class="site__meetup__filter-bar__category">
						<a href="#!" class="site__meetup__filter-bar__category__item">All</a>
						<a href="#!" class="site__meetup__filter-bar__category__item">Art Book Fair</a>
						<a href="#!" class="site__meetup__filter-bar__category__item">Book launch</a>
						<a href="#!" class="site__meetup__filter-bar__category__item">Get Together</a>
						<a href="#!" class="site__meetup__filter-bar__category__item">Talk</a>
					</nav>
				</div>
			</article>

<!-- engage page - section filter bar - non-expandable -->

			<article class="component__navs">
				<h3 class="component__navs__header">filter bar (static) &mdash; engage page</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/5-engage/engage--sub-header.png 2x" alt="engage filter bar">
				</div>
				
				<nav class="site__engage__filter-bar">
					<a href="#!" class="site__engage__filter-bar__link">Mission</a>
					<a href="#!" class="site__engage__filter-bar__link">Cooperate</a>
					<a href="#!" class="site__engage__filter-bar__link">Transparency</a>
					<a href="#!" class="site__engage__filter-bar__link">About</a>
				</nav>
			</article>

<!-- site footer - global -->

			<article class="component__navs">
				<h3 class="component__navs__header">site footer &mdash; all pages</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/1-homepage/footer/footer.png 2x" alt="site footer">
				</div>
				
				<div class="site__site-footer">
					<p class="site__site-footer__logo">Set Margins'</p>
					<div class="site__site-footer__mission"><p>Critical and creative publishing to rethink and evolve visual communication and forms of cooperation</p></div>
					<nav class="site__site-footer__nav">
						<div class="site__site-footer__nav__copyright">Set Margins' &copy;2023</div>
						<div class="site__site-footer__nav__ig-fb">
							<a href="#!">Instagram</a>
							<a href="#!">Facebook</a>
						</div>
						<div class="site__site-footer__nav__legal">
							<a href="#!">Contact</a>
							<a href="#!">Privacy policy</a>
							<a href="#!">Terms and conditions</a>
						</div>
					</nav>
				</div>
			</article>

<!-- section: books -->

			<h2 class="section-header">3. books <span class="down-arrow--books">&#8623;</span></h2>

<!-- book cube - single -->	

			<article class="component__books">
				<h3 class="component__books__header">single book cube &mdash; homepage & books page</h3>
				<div class="component__books__screenshot">
					<img src="#" srcset="img/2-books-grid/book-cube/book-cube.png 2x" alt="single book cube">
				</div>
				
				<a href="#!" class="site__book-cube--a">
					<div class="site__book-cube">
						
						<div class="site__book-cube__header-footer">
							<div class="site__book-cube__header-footer__header">
								<p class="site__book-cube__header-footer__header__catalog-number">#11</p>
								<p class="site__book-cube__header-footer__header__new-tag">New!</p>
							</div>
							
							<div class="site__book-cube__header-footer__footer">
								<div class="site__book-cube__header-footer__footer__title-author">
									<p class="site__book-cube__header-footer__footer__title">Who Can Afford to Be Critical?</p>
									<p class="site__book-cube__header-footer__footer__author">Afonso Matos</p>
								</div>
								<div class="site__book-cube__header-footer__footer__price-add-to-cart">
									<p class="site__book-cube__header-footer__footer__price">15 €</p>
									<a href="#!" class="site__book-cube__header-footer__footer__add-to-cart">
										ADD TO CART
									</a>
								</div>
							</div>
						</div>
						
						<div class="site__book-cube__cover">
							<img class="site__book-cube__cover__img" src="../img/who-can-afford.jpeg" alt="Book cover for Who Can Afford to Be Critical? by Afonso Matos">
						</div>
						
						<ul class="site__book-cube__category--wrapper">
							<li><a href="#!" class="site__book-cube__category">(Self) Organisation</a></li>
							<li><a href="#!" class="site__book-cube__category">Graphic Design</a></li>
							<li><a href="#!" class="site__book-cube__category">Pedagogy</a></li>
						</ul>
						
						<img src="../img/down-arrow.svg" class="site__book-cube__drop-down-arrow">
						
					</div>
				</a>
			</article>

<!-- book cube - four-up grid 

			<article class="component__books">
				<h3 class="component__books__header">four-up book cube grid &mdash; homepage & books page</h3>
				<div class="component__books__screenshot">
					<img src="#" srcset="img/2-books-grid/book-grid/book-grid__four-up.png 2x" alt="book cubes - four up">
				</div>
				
				
			</article>  
		
-->

<!-- book page body - single -->

			<article class="component__books">
				<h3 class="component__books__header">book page body &mdash; single</h3>
				<div class="component__books__screenshot">
					<img src="#" srcset="img/3-book-page/book-page.jpeg 2x" alt="book page - single">
				</div>
				
				<div class="component__books__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__main-details.png 2x" alt="book page - main details">
				</div>
				
				<div class="site__book-page__main-details">
					<div class="site__book-page__main-details__catalog-no">
						<p>#15</p>
					</div>
					<div class="site__book-page__main-details__content">
						<div class="site__book-page__main-details__content__title-author">
							<h2 class="site__book-page__main-details__content__title-author__title">Graphic Design in the Post-Digital Age</h2>
							<p class="site__book-page__main-details__content__title-author__subtitle">A Survey of Practices Fueled by Creative Coding</p>
							<p class="site__book-page__main-details__content__title-author__author">Demian Conrad, Rob van Leijsen, David Héritier (Eds.)</p>
						</div>
						<div class="site__book-page__main-details__content__price-cart">
							<p class="site__book-page__main-details__content__price-cart__price">27€</p>
							<a href="#!" class="site__book-page__main-details__content__price-cart__cart">Add to Cart</a>
						</div>
					</div>
				</div>
				
				<div class="component__books__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__specs-credits--unexpanded.png 2x" alt="book page - specs & credits - collapsed">
				</div>
				
				<div class="site__book-page__specs-credits__collapsed">
					<a href="#!" class="site__book-page__specs-credits__collapsed__item">
						<span>Specifications</span>
						<span>&#43;</span>
					</a>
					<a href="#!" class="site__book-page__specs-credits__collapsed__item">
						<span>Credits</span>
						<span>&#43;</span>
					</a>
				</div>
				
				<div class="component__books__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__specs-credits--expanded.png 2x" alt="book page - specs & credits - expanded">
				</div>
				
				<div class="component__books__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__tags.png 2x" alt="book page - tags">
				</div>
				
			</article>

<!-- section: meetup -->

			<h2 class="section-header">4. meetup <span class="down-arrow--meetup">&#8623;</span></h2>

<!-- meetup listing - single -->

			<article class="component__meetup">
				<h3 class="component__meetup__header">meetup listing &mdash; single</h3>
				<div class="component__meetup__screenshot">
					<img src="#" srcset="img/4-meetups/listing--meetup__event.png 2x" alt="meetup listing - single">
				</div>
				
				<a href="#!" class="site__listing--meetup__event--a">
					<div class="site__listing--meetup__event">
						<p class="site__listing--meetup__event__details">Meet-Up &#9654; Art Book Fair &#9654; 08&ndash;10 Dec</p>
						<p class="site__listing--meetup__event__title">Kuala Lumpur Art Book Fair 2023</p>
					</div>
				</a>
			</article>
		
<!-- section: engage -->
		
			<h2 class="section-header">5. engage <span class="down-arrow--engage">&#8623;</span></h2>
		
<!-- COMPONENT: engage - article -->
		
			<article class="component__engage">
				<h3 class="component__engage__header">engage article &mdash; single</h3>
				<div class="component__meetup__screenshot">
					<img src="#" srcset="img/5-engage/engage--article.png 2x" alt="engage article - single">
				</div>
				
				<div class="site__engage--container">
					<div class="site__engage__empty"></div>
					<div class="site__engage__article">
						<h2 class="site__engage__article__header">Set Margins' Mission</h2>
						<p class="site__engage__article__text">Creatively applying the cultural politics of content, form, and style whilst critically disseminating a marginal cultural agenda, Set Margins’ mobilizes community, articulates qualities to widen support, and steps up for liberties.</p>
							
						<p class="site__engage__article__text">As a support structure, a platform for production, a network and publisher, Set Margins’ is here to frame current impulses from the margin with particular focus for communication, forms of cooperation, and involved politics. Set Margins’ delivers critical experiences, discourse, and dialogue.</p>
							
						<p class="site__engage__article__text">Set Margins’ nourishes critical practices with a strong commitment to marginal voices.</p>
							
						<p class="site__engage__article__text">Set Margins’ facilitates inclusive production, be it social, intellectual, in merit, geographical, in means or otherwise, and offers curiosity and individuation.</p>
							
						<p class="site__engage__article__text">Through this, Set Margins’ focuses support of moral individuation from within an environment of autonomous plurality, disinclined from governing ethics and paternalistic habit. Set Margins’ acts out of a humanistic, slightly anarchist basis.</p>
							
						<p class="site__engage__article__text">To give voice to the margin and stimulate the articulation of the plural, Set Margins’ aspires inclusive access to production and communicative clarity in output. In the making, Set Margin’s stands critical yet respectful to all darlings and shadows. In output, Set Margins’ aspires to be accessible for all in editorial framing, design and pricing, whilst knowing we often work for a future market rather than demand driven.</p>
							
						<p class="site__engage__article__text">Set Margins’ brings visibility and engagement to publishing ambitions. Starting from productive support in the integral processing of editorial framing, design, finances, publishing, and print matters, and in delivering through distribution, promotion, and sales.</p>
							
						<p class="site__engage__article__text">Set Margins’ also offers services as an editorial and graphic studio.</p>
							
						<p class="site__engage__article__text">Subjects of projects might equally rest on or connect with the visible surface of the everyday or be more thoughtful and demanding. As life itself, the word of Set Margins’ is practice based, a true story supporting the practice of life and work. The only thing we should is what we could. Experimental, fictional, hypothetical, wandering or otherwise. Clear cut where possible, informed and informing, inspired and inspiring.</p>
							
						<p class="site__engage__article__text">Set Margins’ non-exhaustive, continuously developing, publishing pamphlet</p>
						
						<ul class="site__engage__article__list">
							<li><span>Set Margins’ is not a group, nor a movement but a support structure to and platform for independent release.</span></li>
							<li><span>Set Margins’ operates through cultural autonomy, self-governance, platform and effort. (This is why we cannot be a not for profit)</span></li>
							<li><span>Set Margins’ is here to push for demanding topics and tools to mind and matter, not for demanding people.</span></li>
							<li><span>Set Margins’ follows the needs of the project, welcomes creative openings, and stimulates the capacity of involved effort along mutual consent.</span></li>
							<li><span>Set Margins’ uses designs’ qualities as means while it applies a conscious path, never perceives design as an end, and discusses design politics.</span></li>
							<li><span>Set Margins’ is editorially real in the truly committed, self-critical and creative setting of the frame</span></li>
							<li><span>Set Margins’ allows for processes to fail, to go well or to evolve.</span></li>
							<li><span>Set Margins’ urges independence of all involved: to find common ground or leave common ground.</span></li>
							<li><span>Set Margins’ ignores the neoliberal social leash of the free-market government.</span></li>
							<li><span>Set Margins’ opposes the corporate culture’s financial ruling of our cultural economy.</span></li>
							<li><span>Set Margins’ is not market-demand driven, by creating a new offer it builds on currently non-existent target groups.</span></li>
							<li><span>Set Margins’ reaches out to engage, organize and connect internationally in solidarity.</span></li>
							<li><span>Set Margins’ uses the publishing world’s infrastructure and creates collaboratively to build a recognized and supported platform.</span></li>
						</ul>
					</div>
				</div>
			</article>
		
<!--  -->
		
		
		</main>
	</body>
	
</html>

