<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Set Margins' Publications ~ Web Component Library</title>
		<link rel="stylesheet" href="https://use.typekit.net/hmz1ijq.css">
		<link rel="stylesheet" href="https://use.typekit.net/hmz1ijq.css">
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="main.css">
		<script src="https://kit.fontawesome.com/7023abba24.js" crossorigin="anonymous"></script>
	</head>
	
	<body>
		<header>
			<h1>Set Margins' Publications ~ Web Component Library ~ <a href="https://setmargins.press" target="_blank">setmargins.press</a></h1>
			<p>Morgen Ruff ~ MAGWD6610 Web Development ~ Fall 2023</p>
		</header>
		
		<main>
			
<!-- typography defaults -->
			
			<h2 class="section-header">1. typography defaults</h2>
			
			<article class="component__typography">
				
				<h3 class="component__typography__header">headings (h1, h2, h3 ... )</h3>
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/1-homepage/main-header/main-header__logo.png 2x" alt="h1">
				</div>
				<p class="component__typography__h1">
					Set Margins'
				</p>
				
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__main-details__title.png 2x" alt="h2">
				</div>
				<p class="component__typography__h2">
					Graphic Design in the Post-Digital Age<br>
					<i>A Survey of Practices Fueled by Creative Coding</i>
				</p>
				
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/2-books-grid/book-cube/book-cube__details__title.png 2x" alt="h3">
				</div>
				<p class="component__typography__h3">
					Who can afford to be critical?
				</p>
				
			</article>
			
			<article class="component__typography">
				<h3 class="component__typography__header">body text</h3>
				<div class="component__typography__screenshot">
					<img src="#" srcset="img/3-book-page/book-page__body-copy.png 2x" alt="body copy">
				</div>
				<p class="component__typography__body-text">
					This comprehensive overview covers educational approaches in design programs and the historic and economic contexts of programming in graphic design, as well as the implications surrounding the integration of coding with design. The book includes over twenty interviews in which major figures in design reflect upon the ways in which coding has innovated and transformed their design practice and strategies, and the directions it will take in the future.
				</p>
			</article>
			
<!-- headers & navigation bars -->
			
			<h2 class="section-header">2. headers/navs</h2>
			
<!-- main header (appears on all pages) -->			
			
			<article class="component__navs">
				<h3 class="component__navs__header">main header (appears on all pages)</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/1-homepage/main-header/main-header.png 2x" alt="main header">
				</div>
				<div class="site__main-header">
					<ul class="site__main-header__list">
						<li class="site__main-header__item site__main-header__item__wordmark"><a href="#!">Set Margins'</a></li>
						<li class="site__main-header__item"><a href="#!">Books</a></li>
						<li class="site__main-header__item"><a href="#!">Meetups</a></li>
						<li class="site__main-header__item"><a href="#!">Engage</a></li>
						<li class="site__main-header__item"><a href="#!">Cart (0)</a></li>
					</ul>
				</div>
			</article>
			
<!-- sub-header (appears on homepage in one form, and as a sub-navigation on books, meetups, engage pages - not on single book or cart pages) -->			
			
			<article class="component__navs">
				<h3 class="component__navs__header">sub header (appears in one form on homepage and as a filter bar or secondary nav on books/meetups/engage, not on single book page or cart)</h3>
				<div class="component__navs__screenshot">
					<img src="#" srcset="img/1-homepage/sub-header/small/sub-header__carousel--blue.png 2x" alt="main header">
				</div>
				
				<div class="site__sub-header__homepage">
					<ul class="site__sub-header__homepage__list">
						<li class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--blue"><a href="#!">Meet-Up <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> Book launch, Talk <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> Book launch ‘Plugs, Pores, Walls and Lures’ <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> 26 - 26 Nov</a></li>
						
						<li class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--pink"><a href="#!">Meet-Up <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> Art Book Fair <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> Sprint Milano Art Book Fair 2023 <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> 24 - 26 Nov<a href="#!"></a></li>
						
						<li class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--grey"><a href="#!">Meet-Up <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> Book launch <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> What is Post-Branding? | Melbourne Book Launch <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> 11 - 11 Nov</a></li>
						
						<li class="site__sub-header__homepage__list__item site__sub-header__homepage__list__item--green"><a href="#!">Meet-Up <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> Art Book Fair <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> Offprint – Paris Art Book Fair 2023 <span class="site__sub-header__divider"><i class="fa-sharp fa-solid fa-play"></i></span> 09 - 12 Nov<a href="#!"></a></li>
					</ul>
				</div>
			</article>
			
			
			
			
		</main>
	</body>
	
</html>

