/* typography & color */

:root {
	--f-adapt: "adapt-variable", sans-serif;
	--f-area: "area-variable", sans-serif;
	--c-black: #050505;
	--c-white: #ffffff;
	--c-grey-txt: #999999;
	--c-grey: #cccccc;
	--c-green: #6cffc1;
	--c-blue: #0029ff;
	--c-blue-light: #52b6ff;
	--c-red: #fd4539;
	--c-purple: #c241ff;
	--c-purple-light: #f0b2ff;
	--c-salmon: #ffb26a;
}

/*
ADAPT WEIGHT & WIDTH INFO:
font-variation-settings: "wght" 600, "wdth" 40;

AREA WEIGHT & WIDTH INFO:
font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
*/

html {
	margin: 0 auto;
	font-size: medium;
	background-color: var(--c-grey);
}

/* COMPONENT: page globals */

header {
	font-family: var(--f-adapt);
	font-variation-settings: "wght" 600, "wdth" 40;
	font-size: 2rem;
	border: 2px solid var(--c-black);
	margin: 1rem;
	padding: 1rem;
	background-color: var(--c-white);
}

header h1, p {
	margin: 0;
}

.section-header {
	font-family: var(--f-adapt);
	font-variation-settings: "wght" 600, "wdth" 100;
	font-size: 1.8rem;
	padding: 1rem;
	margin: 1rem;
	color: var(--c-white);
	background-color: var(--c-black);
}

/* COMPONENT: typography defaults */

.component__typography {
	border: 2px solid var(--c-black);
	background-color: var(--c-white);
	margin: 1rem;
}

.down-arrow--typography {
	color: var(--c-salmon);
}

.component__typography__header {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 0;
	padding: 1rem;
	margin: 0;
	background-color: var(--c-salmon);
	border-bottom: 2px solid var(--c-black);
}

.component__typography__screenshot img {
	display: block;
	border: 1px solid var(--c-salmon);
	margin: 1rem;
	max-width: 90%;
}

.component__typography__h1,
.component__typography__h2,
.component__typography__h3 {
	padding: 0.5rem;
	margin: 1rem;
	width: max-content;
	max-width: 90%;
}

.component__typography__h1 {
	font-family: var(--f-adapt);
	font-variation-settings: "wght" 400, "wdth" 40;
	font-size: 3.5rem;
	background-color: var(--c-black);
	color: var(--c-white);
}

.component__typography__h2 {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 2rem;
	line-height: 2.5rem;
}

.component__typography__h3 {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.95rem;
}

.component__typography__body-text {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 1.1rem;
	margin: 1rem;
	line-height: 1.35rem;
}

/* COMPONENT: navigation bars, headers, footer */

.component__navs {
	border: 2px solid var(--c-black);
	margin: 1rem;
	background-color: var(--c-white);
}

.down-arrow--navs {
	color: var(--c-purple-light);
}

.component__navs__header {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 0;
	padding: 1rem;
	margin: 0;
	background-color: var(--c-purple-light);
	color: var(--c-black);
	border-bottom: 2px solid var(--c-black);
}

.component__navs__screenshot img {
	display: block;
	border: 1px solid var(--c-purple-light);
	margin: 1rem;
	max-width: 90%;
}

/* PRODUCTION - main header/nav (appears on all pages) */

.site__main-header {
	background-color: var(--c-black);
	margin: 1em;
	padding: 0.5em 0.5em 0 0.5em;
	max-width: 90%;
}

.site__main-header__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0 0.5em;
	list-style: none;
}

.site__main-header__list a {
	text-decoration: none;
	font-family: var(--f-adapt);
	font-variation-settings: "wght" 400, "wdth" 40;
	font-size: 2.3rem;
	color: var(--c-grey-txt);
}

.site__main-header__item__wordmark a {
	color: var(--c-white);
}

.site__main-header__item__wordmark a:hover {
	color: var(--c-grey-txt);
}

.site__main-header__list a:hover {
	color: var(--c-white);
}

/* PRODUCTION - homepage sub-header (collapsed) */

.site__sub-header__homepage {
	width: 95%;
}

.site__sub-header__homepage__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 1em;
}

.site__sub-header__homepage__list__item {
	margin-bottom: 0.2em;
	border-bottom: 1px solid var(--c-black);
}

.site__sub-header__homepage__list__item:last-of-type {
	margin-bottom: 0;
}

.site__sub-header__homepage__list__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	text-decoration: none;
	color: var(--c-black);
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.9rem;
	padding: 0.5em;
}

.site__sub-header__homepage__list__item--blue {
	background-color: var(--c-blue-light);	
}

.site__sub-header__homepage__list__item--purple {
	background-color: var(--c-purple-light);	
}

.site__sub-header__homepage__list__item--green {
	background-color: var(--c-green);	
}

.site__sub-header__homepage__list__item--grey {
	background-color: var(--c-grey);	
}

.site__sub-header__homepage__list__item__left {
	padding-left: 0.5em;
}

.site__sub-header__homepage__list__item__right {
	font-size: 1.2rem;
	font-weight: 100;
	margin: 0.2rem 0.2rem 0 0;
}

/* PRODUCTION - homepage sub-header - expanded */

.site__sub-header__homepage__expanded {
	margin: 1rem;
	width: 90%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(2, max-content);
	grid-template-areas: 
		'filter-bar'
		'content';
}

.site__sub-header__homepage__filter-bar {
	grid-area: filter-bar;
	&:hover {
		& + .site__sub-header__homepage__expanded__pop-out {
			visibility: visible;
			transition-timing-function: ease 1s;
		}
		& .site__sub-header__homepage__list__item__right {
			transform: rotate(45deg);
		}
	}
}

.site__sub-header__homepage__expanded__pop-out {
	grid-area: content;
	display: grid;
	grid-template-columns: 3fr 0.6fr 2fr;
	grid-template-rows: repeat(13, 0.8rem);
	grid-template-areas: 
		"img top-date top-date"
		"img second-date second-date"
		"img blank1 blank2"
		"img blank3 blank4"
		"img who who"
		"img blank5 blank6"
		"img date-label date-range"
		"img location-label location-one"
		"img blank7 location-and"
		"img blank8 location-two"
		"img website-label url"
		"img blank9 blank10"
		"img blank11 blank12";
	gap: 0.3em;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid var(--c-black);
	visibility: hidden;
}

.site__sub-header__homepage__expanded__pop-out__item {
	width: max-content;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
	align-self: center;
}

.site__sub-header__homepage__expanded__pop-out__item__img {
	grid-area: img;
	& img {
		max-height: 95%;
	}
}

.site__sub-header__homepage__expanded__pop-out__item__top-date {
	grid-area: top-date;
}

.site__sub-header__homepage__expanded__pop-out__item__second-date {
	grid-area: second-date;
}

.site__sub-header__homepage__expanded__pop-out__item__who {
	grid-area: who;
}

.site__sub-header__homepage__expanded__pop-out__item__date-label {
	grid-area: date-label;
}

.site__sub-header__homepage__expanded__pop-out__item__date-range {
	grid-area: date-range;
}

.site__sub-header__homepage__expanded__pop-out__item__location-label {
	grid-area: location-label;
}

.site__sub-header__homepage__expanded__pop-out__item__location-one {
	grid-area: location-one;
}

.site__sub-header__homepage__expanded__pop-out__item__location-and {
	grid-area: location-and;
}

.site__sub-header__homepage__expanded__pop-out__item__location-two {
	grid-area: location-two;
}

.site__sub-header__homepage__expanded__pop-out__item__website-label {
	grid-area: website-label;
}

.site__sub-header__homepage__expanded__pop-out__item__url {
	grid-area: url;
}

.site__sub-header__homepage__expanded__pop-out__item__url a {
	color: var(--c-black);
	&:hover {
		color: var(--c-grey-txt);
	}
}

/* PRODUCTION - email newsletter sign-up */

.site__newsletter__homepage {
	display: flex;
	margin: 1rem;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
}

.site__newsletter__homepage__section {
	width: 50%;
	padding: 1em;
	border-right: 1px solid var(--c-black);
	& :last-of-type {
		border: none;
	}
}

.site__newsletter__homepage__section__header {
	margin: 0.5em 0 0.3em 0;
	font-size: 2.5rem;
}

.site__newsletter__homepage__section__intro {
	font-size: 0.8rem;
}

.site__newsletter__homepage__section__input {
	display: flex;
	width: 50%;
	margin: 2em 0 0 0;
	font-size: 0.8rem;
	
	& :focus-within {
		outline: 1px solid var(--c-black);
	}
	& input {
		background-color: var(--c-grey);
		padding: 0.5em 0.5em 0.3em 0.5em;
		flex-grow: 2;
		border: none;
	}
	& input:focus {
		outline: none;
	}
	& button {
		background-color: var(--c-grey);
	}
	& button a {
		text-decoration: none;
		color: var(--c-black);
	}
}

/* PRODUCTION - filter bar - books - collapsed */

.site__books__filter-bar__collapsed {
	display: flex;
	margin: 1rem;
	padding: 0.5em 0.5em 0.3em 0.5em;
	width: 95%;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
	border-bottom: 1px solid var(--c-black);
}

.site__books__filter-bar__collapsed__item {
	width: 33%;
	text-align: right;
	margin-left: auto;
	border-left: 1px solid var(--c-black);
	color: var(--c-black);
	text-decoration: none;
	& > img {
		inline-size: 12px;
		margin-right: 3px;
	}
}

/* PRODUCTION - filter bar - books - expanded */

.site__books__filter-bar__expanded {
	margin: 1rem;
	width: 50%;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
}

.site__books__filter-bar__expanded__sort {
	
}

.site__books__filter-bar__expanded__header {
	font-size: 2rem;
	padding: 0.3rem;
}

.site__books__filter-bar__expanded__list {
	display: flex;
	flex-direction: column;
	& > * {
		border-bottom: 1px solid var(--c-black);
		padding: 0.5rem 0.5rem 0.3rem 0.5rem;
	}
}

/* PRODUCTION - filter bar - meetup */

.site__meetup__filter-bar {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	width: 95%;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
}

.site__meetup__filter-bar__year {
	display: flex;
	gap: 1em;
	padding: 0.5em 0.5em 0.3em 0.5em;
	border-top: 1px solid var(--c-black);
	border-bottom: 1px solid var(--c-black);
}

.site__meetup__filter-bar__year__item {
	text-decoration: none;
	color: var(--c-black);
	&:hover {
		color: var(--c-grey);
	}
}

.site__meetup__filter-bar__category {
	display: flex;
	gap: 1em;
	padding: 0.5em 0.5em 0.3em 0.5em;
	border-bottom: 1px solid var(--c-black);
}

.site__meetup__filter-bar__category__item {
	text-decoration: none;
	color: var(--c-black);
	&:hover {
		color: var(--c-grey);
	}
}

/* PRODUCTION - sub-header/filter bar - engage */

.site__engage__filter-bar {
	width: 95%;
	display: flex;
	gap: 1em;
	margin: 1rem;
	padding: 0.5em 0.5em 0.3em 0.5em;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
	border-top: 1px solid var(--c-black);
	border-bottom: 1px solid var(--c-black);
}

.site__engage__filter-bar__link {
	text-decoration: none;
	color: var(--c-black);
	&:hover {
		color: var(--c-grey);
	}
}

/* PRODUCTION - site footer */

.site__site-footer {
	margin: 1em;
	padding: 0.5em;
	background-color: var(--c-black);
	width: 90%;
}

.site__site-footer__logo {
	color: var(--c-white);
	font-family: var(--f-adapt);
	font-variation-settings: "wght" 500, "wdth" 40;
	text-align: center;
	font-size: 4rem;
	margin-top: 2em;
	margin-bottom: 0.4em;
}

.site__site-footer__mission {
	color: var(--c-white);
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 0.8rem;
	margin: 0 auto;
	text-align: center;
	width: 40%;
	line-height: 1.15rem;
}

.site__site-footer__nav {
	margin-top: 2.5em;
	display: grid;
	grid-template-columns: 3fr 1fr 3fr;
	grid-template-rows: 1.5em;
	grid-template-areas: 
		"copyright ig-fb legal";
	gap: 0.5em;
	> * {
		color: var(--c-white);
		font-family: var(--f-area);
		font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
		font-size: 0.8rem;
		align-self: end;
	}
	& a {
		text-decoration: none;
		color: var(--c-white);
		&:hover {
			color: var(--c-grey);
		}
	}
}

.site__site-footer__nav__copyright {
	grid-area: copyright;
}

.site__site-footer__nav__ig-fb {
	grid-area: ig-fb;
	display: flex;
	gap: 1em;
	justify-content: space-around;
}

.site__site-footer__nav__legal {
	grid-area: legal;
	display: flex;
	justify-content: end;
	gap: 1em;
}

/* COMPONENT - books */

.component__books {
	border: 2px solid var(--c-black);
	margin: 1rem;
	background-color: var(--c-white);
}

.down-arrow--books {
	color: var(--c-blue);
}

.component__books__header {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 0;
	padding: 1rem;
	margin: 0;
	background-color: var(--c-blue);
	color: var(--c-white);
	border-bottom: 2px solid var(--c-black);
}

.component__books__screenshot img {
	display: block;
	border: 1px solid var(--c-blue);
	margin: 1rem;
	max-width: 90%;
}

/* PRODUCTION - books */

/* PRODUCTION - book cube - single */

.site__book-cube--a {
	text-decoration: none;
	color: var(--c-black);
	&:hover {
		& ~ .site__book-cube__cover {
			/* figure out how to zoom the book cover and keep it centered */
		}
		& ~ .site__book-cube__header-footer__header {
			visibility: hidden;
		}
		& ~ .site__book-cube__category--wrapper {
			visibility: visible;
		}
	}
}

.site__book-cube {
	border: 1px solid red;
	position: relative;
	margin: 1rem;
	padding: 1em;
	width: 19em;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
}

.site__book-cube__header-footer {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	gap: 2em;
}

.site__book-cube__header-footer__header {
	position: absolute;
	top: 1rem;
	width: 90%;
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin: 0;
	font-size: 0.9rem;
	visibility: visible;
}

.site__book-cube__header-footer__header__catalog-number {
	
}

.site__book-cube__header-footer__header__new-tag {
	color: var(--c-blue);
}

.site__book-cube__category--wrapper {
	/* visibility: hidden; */
	list-style: none;
	display: inline-block;
	padding: 0;
}

.site__book-cube__category {
	margin: 0;
	display: inline-block;
	border: 1px solid var(--c-black);
	border-radius: 1em;
	padding: 0.3em;
	margin: 0 0.25em 0.25em 0.25em;
	color: var(--c-black);
	text-decoration: none;
	&:hover {
		color: var(--c-white);
		background-color: var(--c-black);
	}
}

.site__book-cube__drop-down-arrow {
	width: min-content;
	padding: 0.2em;
	&:hover {
		background-color: var(--c-grey);
		border-radius: 100%;
	}
}

.site__book-cube__header-footer__footer {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: min-content;
	font-size: 0.9rem;
}

.site__book-cube__header-footer__footer__title-author {
	width: 60%;
	margin: 0;
	wrap: nowrap;
}

.site__book-cube__header-footer__footer__price-add-to-cart {
	width: 40%;
	text-align: right;
	wrap: nowrap;
}

.site__book-cube__header-footer__footer__title,
.site__book-cube__header-footer__footer__price,
.site__book-cube__header-footer__footer__author,
.site__book-cube__header-footer__footer__add-to-cart {
	width: 100%;
	margin: 0;
	text-overflow: ellipsis;
	text-decoration: none;
	color: var(--c-black);
}

.site__book-cube__header-footer__footer__add-to-cart:hover {
	color: var(--c-grey);
}

.site__book-cube__cover {
	display: flex;
	align-content: space-around;
	height: inherit;
}
	
.site__book-cube__cover__img {
	max-width: 100%;
}

/* PRODUCTION - book page - body - single */

.site__book-page__main-details {
	display: flex;
	gap: 3em;
	margin: 1rem;
	width: 80%;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
}

.site__book-page__main-details__catalog-no {
	font-size: 2rem;
}

.site__book-page__main-details__content__title-author {
	
}

.site__book-page__main-details__content__title-author__title {
	font-size: 2rem;
	margin: 0 0 0.2em 0;
}

.site__book-page__main-details__content__title-author__subtitle {
	font-size: 2rem;
	font-style: italic;
	margin-bottom: 1em;
}

.site__book-page__main-details__content__title-author__author {
	font-size: 1.3rem;
	margin-bottom: 2em;
}

.site__book-page__main-details__content__price-cart {
	display: flex;
	width: 90%;
	border: 1px solid var(--c-black);
}

.site__book-page__main-details__content__price-cart__price,
.site__book-page__main-details__content__price-cart__cart {
	width: 50%;
	padding: 0.5em 2em 0.3em 2em;
	text-transform: uppercase;
	text-align: center;
}

.site__book-page__main-details__content__price-cart__price {
	border-right: 1px solid var(--c-black);
}

.site__book-page__main-details__content__price-cart__cart {
	text-decoration: none;
	color: var(--c-black);
	&:hover {
		background-color: var(--c-black);
		color: var(--c-white);
	}
}

/* PRODUCTION - book page - specs & credits - collapsed */

.site__book-page__specs-credits__collapsed {
	width: 70%;
	margin: 1rem;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	font-size: 1.2rem;
}

.site__book-page__specs-credits__collapsed__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	color: var(--c-black);
	padding: 0.5em 0 0.3em 0;
	border-top: 1px solid var(--c-black);
	&:hover > .plus {
		transform: rotate(45deg);
		}
	&:last-of-type {
		border-bottom: 1px solid var(--c-black);
	}
}

/* COMPONENT - meetup */

.component__meetup {
	border: 2px solid var(--c-black);
	margin: 1rem;
	background-color: var(--c-white);
}

.down-arrow--meetup {
	color: var(--c-red);
}

.component__meetup__header {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 0;
	padding: 1rem;
	margin: 0;
	background-color: var(--c-red);
	color: var(--c-black);
	border-bottom: 2px solid var(--c-black);
}

.component__meetup__screenshot img {
	display: block;
	border: 1px solid var(--c-red);
	margin: 1rem;
	max-width: 90%;
}

/* PRODUCTION - meetup */

.site__listing--meetup__event--a {
	text-decoration: none;
	color: var(--c-black);
	& :hover {
		background-color: var(--c-grey);
	}
}

.site__listing--meetup__event {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 0;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: space-between;
	border-bottom: 1px solid var(--c-black);
}

.site__listing--meetup__event__details {
	padding: 1rem;
	font-size: 0.8rem;
}

.site__listing--meetup__event__title {
	padding: 0 1rem;
	font-size: 3.3rem;
}

/* COMPONENT - engage */

.component__engage {
	border: 2px solid var(--c-black);
	margin: 1rem;
	background-color: var(--c-white);
}

.down-arrow--engage {
	color: var(--c-purple);
}

.component__engage__header {
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 0;
	padding: 1rem;
	margin: 0;
	background-color: var(--c-purple);
	color: var(--c-white);
	border-bottom: 2px solid var(--c-black);
}

.component__engage__screenshot img {
	display: block;
	border: 1px solid var(--c-purple);
	margin: 1rem;
	max-width: 90%;
}

/* PRODUCTION - engage */

.site__engage--container {
	display: flex;
	border-bottom: 1px solid var(--c-black);
	margin-bottom: 2rem;
}

.site__engage__empty {
	visibility: hidden;
	width: 50%;
}

.site__engage__article {
	margin: 1rem;
	width: 50%;
	font-family: var(--f-area);
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 0;
}

.site__engage__article__header {
	font-size: 3rem;
	margin: 0.5rem 0;
}

.site__engage__article__text {
	margin: 1rem 0;
	line-height: 1.25rem;
}

.site__engage__article__list {
	line-height: 1rem;
	& > li {
		font-size: 3rem;
		& > span {
			font-size: 1rem;
		}
	}
}

/* cart */

